# Archivos de trabajo y exportaciones
probabilidad.html
probabilidad.md
pro.md

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno y configuración
.cursorrules
.cursor
.env
.env.local
.windsurfrules
netlify.toml
windsurf_deployment.yaml

# Dependencias
node_modules/
vendor/

# Archivos de compilación y distribución
*.min.css
*.min.js
build/
dist/